.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }

  button.accordion {
      padding-bottom: 72px;
  }
  
  .accordion:after {
    font-size: 2.125em;
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .accordion.active {
    background-color: #2E3138;
  }
  
  .active:after {
    content: "\2212";
    font-size: 2.125em;
  }
  
  .panel {
    padding: 0 18px;
    border: 1px solid black;
    border-top: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .disabled {
    background-color: #2e313862;
    cursor: unset;
  }